Repository dbillion/ks-knowledge-sharing, changes with the labels that .github/labeler.yml gives for each.
All labels: component: api, component: backend, component: frontend, component: database, type: documentation, type: configuration, type: testing, type: dependencies, type: security

.github/labeler.yml:

# Configuration for automatic labeling of pull requests
# https://github.com/actions/labeler

# Source code changes
"component: api":
  - src/routes/**/*
  - src/controllers/**/*
  - src/middleware/**/*

"component: backend":
  - src/**/*
  - "!src/public/**/*"

"component: frontend":
  - src/public/**/*
  - "*.html"
  - "*.css"
  - "*.js"

"component: database":
  - src/models/**/*
  - src/migrations/**/*
  - "**/*schema*"
  - "**/*migration*"

# Documentation changes
"type: documentation":
  - docs/**/*
  - "*.md"
  - "README*"
  - "CHANGELOG*"
  - "CONTRIBUTING*"

# Configuration changes
"type: configuration":
  - ".github/**/*"
  - "package.json"
  - "package-lock.json"
  - "*.config.js"
  - "*.config.json"
  - ".eslintrc*"
  - ".prettierrc*"
  - ".editorconfig"
  - "Dockerfile*"
  - "docker-compose*"

# Testing changes
"type: testing":
  - tests/**/*
  - "**/*.test.js"
  - "**/*.spec.js"
  - jest.config.*

# Dependencies
"type: dependencies":
  - package.json
  - package-lock.json
  - yarn.lock

# Security
"type: security":
  - ".github/workflows/security.yml"
  - "SECURITY.md"

# Size labels based on file changes
"size: small":
  - any: ['**/*']
    all: 
      - '!**/*.{png,jpg,jpeg,gif,svg,ico,pdf,doc,docx,zip,tar,gz}'

"size: large":
  - any: ['src/**/*']
    all:
      - '**/*.{js,jsx,ts,tsx,py,java,go,rs,cpp,c,cs}'

Add project structure, documentation, license, and CI setup
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/odejs.yml
  knowledge-sharing-app/CODE_OF_CONDUCT.md
  knowledge-sharing-app/CONTRIBUTING.md
  knowledge-sharing-app/LICENSE
Labels: component: backend, type: configuration

Fixed CI filename, improved contributing guide, added full MIT license
  .github/workflows/nodejs.yml
  knowledge-sharing-app/CONTRIBUTING.md
  knowledge-sharing-app/LICENSE
Labels: component: backend, type: configuration

got most of the key features to work, peding the time I build, backend for them, also creating pipes and directories so the components can be reused in the different part of the app
  .github/chatmodes/planchatmode.chatmode.md
  knowledge-sharing-app/src/app/app.routes.ts
  knowledge-sharing-app/src/app/core/guards/auth.guard.ts
  knowledge-sharing-app/src/app/core/guards/role.guard.ts
  knowledge-sharing-app/src/app/core/services/auth.service.ts
  knowledge-sharing-app/src/app/features/auth/login/login.ts
  knowledge-sharing-app/src/app/features/auth/register/register.html
  knowledge-sharing-app/src/app/features/auth/register/register.ts
  knowledge-sharing-app/src/app/features/knowledge-base/article-create/article-create.ts
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.html
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.scss
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.ts
  knowledge-sharing-app/src/app/shared/components/header/header.html
  knowledge-sharing-app/src/app/shared/components/header/header.scss
  knowledge-sharing-app/src/app/shared/components/header/header.ts
Labels: component: backend, type: configuration

the edit page was fixed, but the svg are out of place, fixing it now
  knowledge-sharing-app/src/app/app.routes.ts
  knowledge-sharing-app/src/app/features/knowledge-base/article-detail/article-detail.ts
  knowledge-sharing-app/src/app/features/knowledge-base/article-edit/article-edit.ts
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.html
Labels: component: backend

still the same error
  knowledge-sharing-app/src/app/features/knowledge-base/article-edit/article-edit.html
  knowledge-sharing-app/src/app/features/knowledge-base/article-edit/article-edit.scss
Labels: component: backend

solved the icon size issue
  knowledge-sharing-app/src/app/features/knowledge-base/article-edit/article-edit.scss
  knowledge-sharing-app/src/app/features/knowledge-base/article-edit/article-edit.ts
Labels: component: backend

fixed the image and it worked, working on the categories and the apis and database next
  knowledge-sharing-app/src/app/core/services/knowledge.service.ts
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.html
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.scss
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.ts
Labels: component: backend

Add category-based placeholder images and improve error handling
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.html
  knowledge-sharing-app/src/app/features/knowledge-base/article-list/article-list.ts
Labels: component: backend

Update nodejs.yml to use sourcery ai
  .github/workflows/nodejs.yml
Labels: component: backend, type: configuration

created the production api plan for the otherv language to be executed
  .github/chatmodes/debug.chatmode.md
  PRODUCTION_API_IMPLEMENTATIONS_PLAN.md
  knowledge-sharing-api/dist/modules/uploads/uploads.service.js.map
  knowledge-sharing-api/dist/tsconfig.build.tsbuildinfo
  knowledge-sharing-api/knowledge_sharing.db
  knowledge-sharing-api/src/modules/uploads/uploads.service.ts
  knowledge-sharing-api/uploads/dcc8f6b3-837b-42d8-9889-3472fb300a82.txt
Labels: component: backend, type: documentation, type: configuration
